.button {
  width: 70px;
  padding: 5px 5px;
  background-color: rgba(203, 148, 255, 0.616);
  border-color: #392bff34;
  cursor: pointer;
}
.buttonList {
  display: flex;
  list-style: none;
  justify-content: center;
  margin: 0;
  padding: 0;
}
